/* General Styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #d2e6ed; /* Light blue background */
}

.container {
    flex: 1;
}

.footer {
    margin-top: auto;
    background-color: #ffffff !important; /* White footer background */
}


/* Card Styles */

.card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: #ffffff; /* Ensuring cards have white background */
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


/* Form Styles */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Badge Styles */

.badge {
    margin-right: 5px;
}


/* LaTeX Preview */

#latex-preview {
    transition: all 0.3s ease;
    background-color: #ffffff;
}


/* Rating */

input[type="number"] {
    width: 100px;
}


/* Form validation */

.invalid-feedback {
    display: block;
}

/* Filter and sort sections */
.filter-section, .sort-section {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}